@font-face {
    font-family: verdana-regular;
    src: url("/fonts/verdana/verdana.ttf") format("truetype");
}

@font-face {
    font-family: libreCaslonText-regular;
    src: url("/fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf")
        format("truetype");
}

body {
    font-family: libreCaslonText-regular, sans-serif;
    line-height: 1.4;
    color: $color-dark;
    font-size: $default-font-size;
}

.heading,
.font-montserrat {
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
}

.heading-primary--big {
    font-size: 6.5rem;
}

.heading-primary {
    font-size: 4.5rem;
}

.heading-secondary {
    font-size: 2.7rem;
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
}

.link {
    color: $color-blue-dark-1;
}
