.contact-form {
    margin: 6rem 0;

    &--block {
        margin-top: 3rem;

        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    &--indent {
        margin-left: 1rem;

        &:first-of-type {
            margin-top: 1rem;
        }
    }

    &--flex {
        justify-content: space-between;

        & * {
            flex: 0 0 47%;
        }
    }

    &--input {
        border: 2px solid $color-primary;
        padding: 1rem;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;

        &::placeholder {
            font-weight: 700;
        }
    }

    & textarea {
        width: 100%;
    }
}
