.form-recommend {
    display: flex;
    margin: 3rem auto 0;
    border-radius: 3px;
    justify-content: center;

    & input {
        padding: 1.5rem 1.5rem;
        font-size: 1.6rem;
    }

    & input[type="text"] {
        border: 2px solid $color-grey-light-4;
    }

    & input[type="submit"] {
        background: $color-blue-light-1;
        border: none;
        font-weight: 700;
        color: $color-light;
        cursor: pointer;

        &:hover {
            background: $color-blue-dark-1;
        }
    }
}
