.btn-signup {
    display: block;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    word-spacing: 0.3rem;
    border: 0.2rem solid $color-primary;
    transition: all 0.1s linear;

    &:hover {
        background-color: $color-primary;
        color: $color-light;
    }
}
