@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700,400&display=swap);.nav {
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 1.8rem;
}

.nav__list {
  justify-content: flex-end;
}

.nav__item {
  border-radius: 0.3rem;
  transition: all 0.2s ease-out;
  position: relative;
}

.nav__item a {
  display: inline-block;
  padding: 1rem 1.5rem;
}

.nav__item a:hover {
  background: #000;
  color: #fff;
}

.nav__item:not(:last-child) {
  margin-left: 1rem;
}

.nav__sub-menu {
  display: none;
  position: absolute;
  left: 0;
  min-width: 20rem;
}

.nav__sub-menu .nav__item {
  margin-left: 0;
}

.nav__item:hover .nav__sub-menu {
  display: block;
}

.header {
  margin-top: 3rem;
  margin-left: 2rem;
}

.header--sub-heading {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.footer {
  bottom: 0;
  left: 0;
  padding: 1.5rem 0;
  position: relative;
  background: #000;
  color: #fff;
}

.footer::before {
  content: "";
  display: block;
  height: 3.5rem;
  width: 100%;
  top: -3.5rem;
  position: absolute;
  left: 0;
  background: url("/images/footer_edge.png");
  background-position: center;
}

.footer__list {
  font-size: 1.3rem;
  justify-content: flex-end;
  margin-right: 2rem;
}

.footer__list-item:not(:last-child) {
  margin-right: 1rem;
}

.footer__list-item:not(:first-child) {
  margin-left: 1rem;
}

.footer__cta {
  padding: 5rem 0;
}

.footer__cta--heading {
  text-align: center;
}

.footer__cta--para {
  margin-top: 2rem;
}

.footer__cta--btn a {
  padding: 1.2rem 0;
  display: block;
  width: 18rem;
  margin: 2rem auto 0;
  color: #fff;
  background-color: #cd0000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.footer__cta--btn a:hover {
  text-decoration: underline;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.big-container {
  max-width: 92rem;
  margin: 0 auto;
}

.small-container {
  max-width: 70rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: verdana-regular;
  src: url("/fonts/verdana/verdana.ttf") format("truetype");
}

@font-face {
  font-family: libreCaslonText-regular;
  src: url("/fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf") format("truetype");
}

body {
  font-family: libreCaslonText-regular, sans-serif;
  line-height: 1.4;
  color: #222;
  font-size: 2rem;
}

.heading,
.font-montserrat {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

.heading-primary {
  font-size: 4.5rem;
}

.heading-secondary {
  font-size: 2.7rem;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

