// color
$color-primary: #000;
$color-dark: #222;

$color-light: #fff;
$color-light-2: #fefefe;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #f3f3f3;
$color-grey-light-3: #d7d7d7;
$color-grey-light-4: #bbb;
$color-grey-dark: #87878e;
$color-grey-dark-2: #999;

$color-blue-dark-1: #1c93c5;
$color-blue-light-1: #4dbdeb;

$color-red: #ff0000;
$color-red-dark-2: #cd0000;

$color-yellow-light: #ffec64;
$color-yellow-dark: #ffab23;

// color social site:
$color-blue-dark-2: #4c70ba;
$color-blue-dark-3: #3b5998;

$color-blue-light-2: #4ac2ed;
$color-blue-light-3: #1bb2e9;

$color-red-light: #fa0101;
$color-red-dark-1: #bd081c;

// font-size
$default-font-size: 2rem;
